body {
    font-family: Arial, sans-serif;
}


.my_container {
    width: 940px;
    margin: 0 auto;

}


h1 {
    padding: 21px 100px;
    text-align: center;
}

a {
    margin: auto 30px;
    text-decoration: none;
    color: firebrick;
}

a:hover {
    text-decoration: none;
    color: black;
}

textarea, input {
    width: 300px;
}

textarea {
    height: 200px;
}

p, h5 {
    margin: 20px 30px;
}